.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54vh;
}

.task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  width: 300px;
  max-width: 80%;
  box-sizing: border-box;
}

.input {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btnTaskInput {
  background-color: #4169e1;
  color: white;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 100px;
  cursor: pointer;
  margin-top: 10px;
}

.btnTaskInput:hover {
  background-color: #001f3f;
}
